#div1
{
   
    margin-left: 500px;
    height: 200px;
    width: 300px;
    background-color:tomato;
    border-color: black;
}
#div2
{
    display: inline-flex;
}
img{
    height: 100px;
    width: 100px;
}
#div3
{
    margin-left:  10px; ;
}
.plusdiv
{
    margin-left: 460px;
}
.h2tag
{
    margin-left: 100px;
    font-size: 100px;
    padding-top: 100px;
    padding: 20px;
}